html,
body {
    overflow: hidden;
    margin: 0;
    width: 100vw;
    height: 100vh;

    font-family: Impact;
}
canvas,
main {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
[hidden] {
    display: none;
}
[onclick] {
    cursor: pointer;
}

h1,
h2 {
    padding: 0.25em 0.5em;
    color: #fff;
    background-color: #000;
    transform: skewX(-10deg) rotate(-2deg);
    text-align: center;
}

h2 {
    font-size: min(15vw, 10vh);
}

h3 {
    font-size: min(10vw, 6vh);
    margin: 0;
    color: #fff;
    -webkit-text-stroke: 1px #000;
    text-shadow: 2px 2px 0 #000;
}

button {
    border-radius: 2em;
    text-shadow: #000;
    box-shadow: 4px 4px 0 #333;
    padding: 0.875em 1em;
    line-height: 1;
    border: 0.1875rem solid #000;
    text-align: center;
    cursor: pointer;
}

button:hover {
    box-shadow: 6px 6px 0 #333;
    transform: translateY(-2px);
}
